*, 
*:before, 
*:after {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
    background-color:#e2ebe5;
}

header {
    background-color:#3f4356;
}

main {
    display: flex;
    justify-content: center;
}

.bg-body-tertiary {
    background-color: #a29797!important;
}

.nav-link {
    color: #fff;
}